.LayoutWeb {
  display: flex;
  /* justify-content: center; */
}

.ListArea {
  flex-grow: 1;
}

.ContactArea {
  background-color: azure;
  flex-grow: 9;
  /* min-width: 200px; */
  position: relative;
}