.layout-web {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.list-area {
  flex-grow: 1;
  max-width: 350px;
}

.contact-area {
  background-color: azure;
  flex-grow: 9;
  position: relative;
  padding-left: 0;
}