.ListElement {
  background-color: #eeeeee;
  padding: 0 40px;
}

.PrimaryInfo {
  margin-bottom: 0;
}

.ListElement:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.SecondaryInfo {
  font-size: 0.9em;
  color: #999999;
  margin: 0;
}
