.listElement {
  background-color: #eeeeee;
  padding: 0 40px;
}

.primaryInfo {
  margin-bottom: 0;
}

.listElement:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.secondaryInfo {
  font-size: 0.9em;
  color: #999999;
  margin: 0;
}
