.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 50px 0;
  position: fixed;
  width: 90%;
  max-width: 450px;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
}

.form-field {
  margin: 20px;
  max-width: 450px;
  width: 90%;
  min-height: 7vh;
}

.buttons-bin {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.img-frame {
  height: 128px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .contact-form {
    max-width: 700px;
  }
  .form-field {
    max-width: 700px;
  }
}

@media (min-width: 1281px) {
  .contact-form {
    width: 80%;
    max-width: none;
  }
  .form-field {
    width: 80%;
    max-width: none;
  }
}