.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
  width: 90%;
  position: relative;
  max-width: 450px;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  background-color: aliceblue;
}

.formField {
  margin: 20px;
  max-width: 450px;
  width: 90%;
  min-height: 7vh;
}

.buttonsBin {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.crossButton {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: aliceblue;
  font-size: 1.8em;
}

.crossButton:hover {
  font-size: 2em;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .contactForm {
    max-width: 700px;
  }
  .formField {
    max-width: 700px;
  }
}

@media (min-width: 1281px) {
  .contactForm {
    width: 80%;
    max-width: none;
  }
  .formField {
    width: 80%;
    max-width: none;
  }
}